input['']
.small {font-size: 0.8em; color: #7b7a7a;}
.text_date {text-transform: capitalize;}
#page_book {background-color: #f4f5f5; color: #787878; padding-bottom: 100px;}
#bk_menu .navbar-default{
	border: 0 !important;
}
#bk_info h4 {font-weight: bold; margin: 20px 0;}
#bk_step {
    color: white;
    background: url('../images/banner_booking.jpg');
    text-align: center;
    padding-bottom: 5%;
    padding-top: 0;
}
#bk_step h3 {
	margin: 35px;
	font-weight: bold;
}
#bk_step ul li{
	    width: 14em;
    border: 1px solid white;
    padding: 7px 7px;
    margin-left: -5px;
    font-size: 12px;
    margin-bottom: 1em;
}
#bk_action ul li a,#bk_action ul li a:hover{color: white;}
.bk_fn {background-color: #19a8e0;	
    border-top: 1px solid #19a8e0 !important;    
    border-bottom: 1px solid #19a8e0 !important;
}
.bk_fn:first-child {border-left: 0 !important;}
.bk_fn:last-child {border-right: 0 !important;}
#bk_step_num {
	border: 2px solid #6bbf28;
    border-radius: 100%;
    background-color: #f6f4f3;
    padding: 0px;
    width: 80px;
    height: 80px;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    margin-top: -42px;
    margin-bottom: 50px;
    margin-left: 46.5%;
    color: #6bbf28;
}
#bk_select {padding-right: 40px;}
#bk_select form {
	background: white;
    padding: 20px 30px;
    border-top: 3px solid #88c242;
}
#bk_schedule {
	padding-left: 15px;
    position: relative;
}
#bk_schedule table {background-color: white;}
.arr {
	border-radius: 100%;
    background-color: #19a8e0;
    color: white;
    padding: 8px;
    font-size: 12px;
    border:0;
}
#bk_lt {position: absolute;
    top: 3.5px;
    left: 0px;}
#bk_rt {position: absolute;
    top: 3.5px;
    right: 0;}
#book_tt {
	background-color: #85c725;
    color: white;
    padding: 6px 0;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px solid;
}
#book_ct_s {overflow: auto;
    max-height: 350px;
    border: 1px solid #ddd;}
#bk_schedule table {font-size: 15px;}
table#book_ct>tbody>tr>td {
    padding: 0; border: 0; background: url('../images/bg.jpg');
}
table th, table td {width: 14.28%;}
table.book_tb th, table.book_tb td {text-align: center; border: 1px solid #ddd; padding: 0px;}
#tfoot {padding: 3px 6px; background: white; text-align: left; font-style: italic; border: 1px solid #ddd;}
table.ext_bk td {padding: 6px !important; cursor: pointer; background: #f2f2f2; content: ''}
table.ext_bk td:hover{background: #19a8e0; color: white}
table.ext_bk td:hover span{display: none;}
table.ext_bk td:hover:before {content: 'Đặt lịch'}
.bk_tt {background: #e7f1d5;}
#bk_remind {
	text-align: left !important;
	padding: 5px 10px;
	font-style: italic;
}
/** register information **/
#bk_register_info {
	background-color: white;
    border-top: 4px solid #88c242;
    padding: 10px 30px 20px;
}
.bk_schedule_info {
    margin: 15px 0;
}
.bk_schedule_info span {
	display: block;
}
#bk_box_time {
	width: 75%;
    margin: auto;
    border: 1px solid #d9d5d2;
    border-bottom: 2px solid #e9b400;
    text-align: center;
}
#box_day {
    text-transform: capitalize;
	background-color: #5f5c5a;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}
#box_time p:first-child{
	color: #e9b400;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 0;
}
#box_time hr {
	margin: auto;
    width: 46%;
    border: 2px solid;
}

#bk_dentist_info {text-align: center;margin-bottom: 30px !important;}
#bk_dentist_info span:first-child {text-align: left;}
#bk_dentist_info span:last-child {    
	text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;}
#bk_dentist_info img {
    width: 60%;
    border: 1px solid #dcdedd;
    border-radius: 100%;
    margin: 18px 0px 15px;
}
.btn_quest {    
	border-radius: 100%;
    margin-left: 10px;
    background: white;
    border: 1px solid;
    padding: 0px 6px;
}

#bk_register_info .form-group {
	text-align: right;
}
#bk_register_info .form-control {
	border-radius: 4px;
}
#bk_register_info #no_arr select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#bk_register_info #no_arr select:first-child, #bk_register_info #no_arr select:nth-child(2) {
	width: 25%;
	margin-right: 10px;
}
#bk_register_info #no_arr select:last-child {
	width: 39%;
}
.line_dot {border: 1px dashed #bfbdbd;}
#bk_res_log_info {
    padding: 25px 15px;
    border-left: 2px solid #ddd;
    margin: 5px 0;
    float: right;
    position: absolute;
    bottom: 2px;
    right: 0;
}
#bk_health {padding-left: 45px;}
#bk_health p{margin-bottom:0;}
#bk_health label{text-align:right; padding-left: 100px;}

/***** verification schedule ***/
#bk_cf {padding-right: 40px; text-align: right;}
#bk_cf img {width: 40%; height: auto;}
#bk_code {border-left: 1px solid #dcdbdb;}
.bk_ver_ali {margin: 15px 0;}
/**** confirm schedule ***/
#bk_confirm { padding: 30px;}
/****************** profile patient **************/
#pf_tab {margin-top:-42px;}
#pf_tab .nav-tabs>li {
	background-color: #17a8e1;
	margin-right: 0.25%;
	width: 24.5%;
	border-radius: 5px;
	text-align: center;
}
#pf_tab .nav-tabs>li>a {color: white; font-weight: bold;}
#pf_tab .nav-tabs>li>a:hover {background-color: white;color:black;}
#pf_tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	box-shadow: 0px -1px 15px 2px lightgray;
    color: black;
}
#pf_tab .tab-content {background: white;}
#pf_tab .tab-content label {text-align: right; padding: 0;}
/************************ register information ************/
#re_tt {padding: 4% 0px 2%; background: white}
#re_tt h2 {font-weight: bold; color: #94c640;}
/* background color of page register information is #f0efef */
#re_info {
	background: white;
    border-radius: 10px;
    padding: 2% 7%;
    margin-top: 3%;
}
#log>p {padding: 0 15px 25px;}
#log_info {top: 30%; text-align: center;}
#log_info h3 {color: #94c640; font-weight: bold}

@media (min-width:768px) {
    #bk_step ul li{
        width: auto;
        padding:7px 15px;
        font-size: 15px;
    }

}
@media (min-width:992px) {
    #bk_step ul li{
        width: 24.1%;
        padding:7px 0px;
        font-size: 16px;
    }

}