@font-face {
	font-family: 'helveticaneue';
	src: url('../fonts/helveticaneue.ttf');
}
@font-face {
	font-family: 'helveticaneuelight';
	src: url('../fonts/helveticaneuelight.ttf');
}
/* button */
.btn:hover {
	color: white;
}
.btn_bookoke{
	background: #7cc9ac;
	color: white;
}
.btn_bookoke:hover,.btn_bookoke:focus {
	background: #48b64e !important;
	color: white;
}
.btn_unactive, .btn_cancel {
	background: #c0bfbf;
	color: white;
}
.btn_unactive {
	cursor: not-allowed !important;
}
/********button close*************/
.btn_close {
	background       : url('../images/icon_sb_left/ic_close.png');
	height           : 14px;
	width            : 14px;
	float            : right;
	cursor           : pointer;
	background-size  : 100%;
	background-repeat: no-repeat;
}
/********modal pop up*************/
.pop_bookoke .modal-header{
	padding: 10px 15px;
}
.pop_bookoke .close {
	font-size: 32px;
    font-weight: 100;
}
.pop_bookoke .modal-content{
	border-radius: 0;
}
.popWidth447 {
	width: 447px;
}
.popHead {
	background: #e6e6e5;
	color: #5a5a5a;
}
.popHead h5{
	text-transform: uppercase;
}
.popHead .btn_close {
	margin: 9px 0;
}