@font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/Helvetica-Bold.otf") format("opentype");
    src: url("../fonts/helvetica-bold.eot"),
         url("../fonts/Helvetica-Bold.ttf") format('truetype'),
         url("../fonts/helvetica-bold.eot?#iefix") format('embedded-opentype');
}
@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/HelveticaNeue.otf');
}
@font-face {
  font-family: 'regular';
  src: url('../css/fonts/glyphicons-halflings-regular.ttf');
}
@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneue.ttf');
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 15px ;
	line-height: 25px !important;
	font-family: 'helveticaneue' !important;
	letter-spacing: 0.25px;
}
#body_content{
    min-height: 880px;
    /*padding-bottom:5%;*/
}
/* Extesion */

.display-none           { display: none;}
.display-inline-block   { display: inline-block;}
.display-block          { display: block;}

.float-right    { float: right;}
.float-left     { float: left;}
.float-default  { float: none; }

.text-right  {text-align: right}
.text-left   {text-align: left}
.text-center {text-align: center}

.margin-default{ margin: 0px !important; }
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-50 { margin-top: 5.0em; }
.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }
.margin-bottom-40 { margin-bottom: 4.0em; }
.margin-bottom-50 { margin-bottom: 5.0em; }

.padding-default{ padding: 0px !important; }
.padding-top-05 { padding-top: 0.5em; }
.padding-top-10 { padding-top: 1.0em; }
.padding-top-15 { padding-top: 1.5em; }
.padding-top-20 { padding-top: 2.0em; }
.padding-top-25 { padding-top: 2.5em; }
.padding-top-30 { padding-top: 3.0em; }
.padding-top-40 { padding-top: 4.0em; }
.padding-top-50 { padding-top: 5.0em; }

.padding-top-video { padding-top: 10em; }
.padding-bottom-05 { padding-bottom: 0.5em; }
.padding-bottom-10 { padding-bottom: 1.0em; }
.padding-bottom-15 { padding-bottom: 1.5em; }
.padding-bottom-20 { padding-bottom: 2.0em; }
.padding-bottom-25 { padding-bottom: 2.5em; }
.padding-bottom-30 { padding-bottom: 3.0em; }
.padding-bottom-40 { padding-bottom: 4.0em; }
.padding-bottom-50 { padding-bottom: 5.0em; }

#page {font-size: 15px;}
a, a:focus, a:hover {text-decoration: none !important;}
#page h3 {font-weight: 700 !important; 
	text-align: center;
    padding: 20px 0;}
.size_90 {width:90%;height:auto;}
.size_80 {width: 80%; height: auto;}
.text_green {color: #7fab34;}
.text_blue {}
.btn {border-radius: 0 !important; color: #fffcf9;}
.btn_green {background-color:#93c543;letter-spacing: 2px;}
.btn_blue {background-color: #1fa8e0;}
.btn_black {background-color: #464646;}
.mrb_30 {margin-bottom: 30px;}
.photowrap {overflow: hidden;}

.line {position: relative; z-index: 1;}
.line:before {border-top: 2px solid #94c640; content:"";
        position: absolute; top: 60%; left: 0; right: 0; bottom: 0;
        z-index: -1;}
.line span {background: #fafbfb;padding-right: 10px;}
		/** head **/
.container-header{
    margin: 0 auto;
    padding: 0;
}

#header{
    width: 100%;
    /*background:url(../images/gb_menu_white.png);*/
	background-color: white;
    box-shadow: 5px 5px 10px lightgray;
    
    top: 0;
    z-index: 9999;
	color: #919190;
}

#header .navbar-default .navbar-toggle{
	margin: 0;
    margin-right: 10px;
}

#header .logo-mobile{
	float:left;width: 7em;
    margin-left: 5px;
}
#logo {
	margin-left: 15px;
	width: 11em;
	float: left;
}

#head select {border: 0;padding-right:2px;color: rgba(75,75,75,1);}
#head select:focus {outline: none;}

#head .list-inline{margin:0px;text-align: right;}
#head .list-inline>li {padding-left: 15px; padding-right: 0px; line-height: 32px; }
#head #log li:first-child {border-right: 1px solid #919190; padding: 0 10px; }
#head #log li:last-child {padding-left: 10px;}
#head #log a, #head #log a:hover {color: rgba(75,75,75,1);}
#header .navbar {
	border: none;
	margin-bottom:0;
	background-color: #fff;
}
#header .container-header {
	width: 100%;
	margin:0px auto;

}
#header .navbar .navbar-collapse{
	border-color:#FFF;
}
.btn_book {
	padding: 7px 12px;
	color: #9ec63b;
	border: 1px solid #9ec63b;
	border-radius: 4px;
	text-transform: uppercase;
}
.btn_book:hover {color: #9ec63b;}
		/** menu **/

#menu {
    transition-duration: 1s;
}
#menu .navbar-default {border: 0 !important;}
#menu li {
    background-color: rgb(25, 168, 224);
    transition-duration:1s;
}
#menu li a {
	color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 14px;
    transition-duration:1s;
}


#menu  li a:hover, #menu  li.active a, #menu  li.selected a {
	 box-shadow: inset 0px -3px 0px #FFF ;
}
#menu .menu-active { box-shadow: inset 0px -3px 0px #FFF ; }
#box_w {
	width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-top: 50px solid white;
    background: rgb(25, 168, 224);
}
		/** footer **/
#menu_ft {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #919190;
	background: white;
}
#menu_ft a, #menu_ft a:hover {color: #919190; font-size: 13px;}
#menu_ft #mn {padding-right: 0;}
#menu_ft #mn p {font-size: 13px;}
/*.mv_line {
	border-right: 2px dashed #ddd;
	border-left: 2px dashed #ddd;
	height: 50%;
	margin-top: 10px;
	text-align: center;
}*/
#menu_ft p{
	font-weight: bold;
	color: #2d3535;
}
#menu_ft form input { margin-right: -4px; }
.form-control { border-radius:0; }
#social img{ margin: 15px 10px;display: inline;width: 10%;}
#social span:first-child:hover img {content: url('../images/fb-act.png');}
#social span:nth-child(2):hover img {content: url('../images/youtube-act.png');}
#social span:last-child:hover img {content: url('../images/google-act.png');}
#footer {
	background-color: #0976ba;
	color: #fffcf9;
	line-height: 35px;
}
		/** content **/
.content {margin: 0px auto;padding: 0;}
.ct_al {margin: 0 13%;}





		/** banner **/
/* #banner {margin-top: 102px;} */
#banner .carousel-indicators li {background-color:#838283; width: 13px; height: 13px; border: 0;}
#banner .carousel-indicators .active {background-color:#94c73e; }
#call {
	background-color: #94c640;
    width: 3em;
    height: auto;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: fixed;
    top: 15%;
    right: 0px;
    z-index: 9999;
}
#call img {
	width: 70%;
    height: auto;
    margin: 7px;
}
/** Introduce **/
#intro {
	padding-top: 30px;
	overflow: hidden;
	background: white;
}
#intro img {
	width: 70%;
    margin: 0px auto;
}
#intro_text {
	color: black;
}
#intro h2:first-child {
	font-style: italic;
	font-weight: lighter;
    font-size: 40px;
}
#intro h2:nth-child(2) {	
	font-weight: bolder;
	margin-top: 10px;
    font-size: 40px;
    font-family: Helvativa-Bold, Helvetica, Arial, sans-serif;
}
#intro hr {
	border-top: 4px solid #838283;
	width: 30%;
    margin: 35px 0;
    margin-bottom: 50px;
}
/* * information * */
#info {
	background-color: #19a8e0;
	color: #fffcf9;
}
#info ul li a img {
	width: 50%;
}
#info h4 {margin-top: 0; font-size: 12px;}
#info .nav-tabs>li {
	text-align: center;
	width: 24.33%;
}
#info .nav>li>a {
	padding: 0;
	color: #fffcf9 !important;
}
#info .nav>li>a:focus, #info .nav>li>a:hover {
	background-color:transparent;
	border: transparent;
}
#info ul .active img {
    box-shadow: 4px 6px 15px gray;
}
#info .nav-tabs>li.active>a:after{  
    border: solid transparent;
    content: " "; 
    position: absolute;
    border-top-color: white;
    border-width: 10px;
    margin-left: -20px;
}
#info .nav-tabs {
	border: transparent;
}
#info .nav-tabs>li.active>a, #info .nav-tabs>li.active>a:focus, #info .nav-tabs>li.active>a:hover {
	background-color: transparent;
	border: transparent;
}
#info .tab-content {
	margin-top: 40px;
}
.info_box {
	margin-top: 10px;
	text-align: right;
	padding-bottom: 20px
}
.info_box p {
	margin-bottom: 20px;
}
/** ho tro **/
#hotro {
	padding-bottom: 45px;
	background: white;
}
#hotro .hotro_box{
    text-align: center;
}

#hotro img {
    margin: 0px auto;
	margin-bottom: 15px;
}
.hotro_box p:nth-child(3) {
	color: #919190;
}
/**bai viet**/
#baiviet {
	background: url('../images/bg_green.png');
	color: #fffcf9;
	padding-bottom: 45px;
}
.baiviet_box {padding: 0 30px !important;}
#baiviet img {
	border: 2px solid #fffcf9;
	margin-bottom: 20px;
}
/** facebook **/
#fb {
	background: url('../images/bg_02.jpg');
}
#form_lich {
	background-color: white;
	margin: 40px 0;
	padding: 0;
	padding-bottom: 15px;
}
#form_tt{
	background-color:  #1fa8e0;
	padding: 10px 0 10px 30px;
	color: #fffcf9;
	font-size: 15px;
}
#form_lich form {
	margin: 20px 30px;
}
/*** nha khoa **/
#nhakhoa {padding-bottom: 30px; background: white;}
#nhakhoa h2 {font-weight: bold; text-align: center; padding: 45px 0;}
#time {
	border: 3px solid #1fa8e0;
    padding: 40px 12% 15px;
    position: relative;
}
#clock {
	position: absolute;
    width: 14%;
    background: white;
    padding: 10px;
}
#branch h3{
	padding-bottom: 10px;
	padding-top: 0;
	text-align: left;
    margin-top: 0px;
}
#branch span {display: block; color: #6e6e6e;}
#branch>div {margin-bottom: 7px;}
#nhakhoa #t27{
	margin-left: 35%;
}


/****************************************promotion page ******************************************/
#pr {background: #fafbfb;}
#pr_box {width: 100%; height: auto;}
#pr_box .grid-item {border: 1px solid #ddd; background: white; padding: 0; }
#pr_box .grid-item:hover {box-shadow: 3px 3px 20px lightgray;}
/*************pagination*******************/
.paging .pagination>li>a {margin-right: 5px; border: 1px solid #808285; color: #808285; border-radius: 0;}
.paging .pagination>li:first-child>a{border-radius: 0;}
.paging .pagination>li:last-child>a, .paging .pagination>li:last-child>a:hover{border: 0; background: transparent; color: #808285;}
.paging .pagination>li>a:focus,.paging .pagination>li>a:hover {background: #808285; color: white;}
/************************************** responsive ********************************/


@media (min-width:320px) {
    ul.menu-footer li a{
        font-size: 14px;
    }
    .list-btn ul li{
        width: 100%;
        margin-bottom: 10px;
    }
    #content_news,#list_news,#ns_sr{
        padding-left: 0px;
    }

    #ns_str .ns_box{
        padding-left:0px;
        padding-right: 0px;
    }
    .text_green{
        font-size: 25px !important;
    }
    #tin-pho-bien{
        margin-top: 70px;margin-bottom: 35px;
    }
    #ns_srch {border: 1px solid #19a8e0; margin: 60px 0;}
    #ns_sr {margin-top: 120px;}
    .choose_slider_items .current_item{
        left: 0% !important;
        width: 100% !important;
    }
    .choose_slider_items .previous_item{
        left: -80% !important;
    }
    .choose_slider_items .next_item{
        display: none !important;
    }
    .text_footer{
        text-align: center;
    }
    ul.menu-footer{
        float: none;
        text-align: center;
    }
    #btn_next1 img{
        width: 7% !important;
    }
    #btn_prev1 img{
        width: 7% !important;
    }
    .btn_next_pre{
        margin-top: 0px;
    }
    /*#info{
        display: none;
    }*/
    .text-banner-home{
        font-size: 40px;
    }
    .position-text-banner-home{
        top: 65%;
        left: 15px;
        padding: 30px 45px;
    }
    #clock{
        top: -22px;
        right: 43%;
    }
    #call{
        display: none !important;
    }
    #time{
        width: 100%;
    }
    #body_content .padding-right-left{
        padding-left: 15px;
    }
    #intro h2:nth-child(2) {
        font-size: 30px !important;
    }
}
@media (min-width:480px) {
	#header .container-header{
    	width: 100%;
    }
	#head .list-inline>li {
		padding-left: 5px;
	}
    #intro img{
        width: 50%;
        margin: 0px auto;
    }
    #info h4{
        font-size: 12px;
    }
    
    #hotro .hotro_box{
        text-align: center;
    }
    #menu{
        float: none;
    }
    #header .navbar .navbar-collapse{
        padding-left: 15px;
        padding-right: 15px;
    }
    #menu li{
        float: none;
    }
    .text-banner-home{
        font-size: 30px;
    }
    #clock{
        top: -39px;
        right: 55%;
    }
    .position-text-banner-home{
        top: 70%;
        left: 50px;
        padding: 12px;
    }


}

@media (min-width:768px) 
{   
    ul.menu-footer li a{
        font-size: 15px;
    }
    .list-btn ul li{
        width: 20%;
        margin-bottom: 0px;
    }
    #content_news,#list_news,#ns_sr{
        padding-left: 15px;
    }
    .text-banner-home{
        font-size: 20px;
    }
    #intro h2:nth-child(2) {
        font-size: 40px !important;
    }
    #tin-pho-bien{margin-top: 35px;margin-bottom: 35px;}
    #ns_srch {border: 1px solid #19a8e0; margin: 30px 0;}
    #ns_sr {margin-top: 30px;}
    #body_content .padding-right-left{
        padding-left: 0px;
    }
    #menu-dich-vu{
        padding-left: 0px;
    }
    .text_green{
        font-size: 40px !important;
    }
    .text_footer{
        text-align: left;
    }
    ul.menu-footer{
        float: right;
        text-align: right;
    }
    .choose_slider_items .previous_item
    {
        width: 26% !important;
        left: 0px !important;
    }
    #call{
        display: block !important;
    }
    .choose_slider_items .current_item{
        left: 24.5% !important;
        width: 55% !important;
    }
    .choose_slider_items .previous_item{
        left: 61px !important;
    }
    .choose_slider_items .next_item{
        display: block !important;
    }
    #btn_next1 img{
        width: 2.5% !important;
    }
    #btn_prev1 img{
        width: 2.5% !important;
    }
    .btn_next_pre{
        margin-top: 30px;
    }
    #info{
        display: block;
    }
	#header .container-header{
    	width: 100%;
           
    }
    #menu li{
        float: right;
    }
    #menu li a{
        padding: 15px 30px;
        font-size: 12px;
    }
    .container{
    	width: 100%;
    }
    #head{
    	margin-top: .5em;
    	
    }
    #time{
        width: 80%;
    }
    #intro img{
        width: 60%;
        margin: 0px auto;
    }
    #info h4{
        font-size: 13px;
    }
    #hotro .hotro_box{
        text-align: center;
    }
    #header .navbar .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .text-banner-home{
        font-size: 45px;
    }
    .position-text-banner-home{
        top: 70%;
        left: 70px;
        padding: 25px;
    }
}

@media (min-width:992px) {
	#head{
    	margin-top:0em;
    }
    #header .container-header{
    	width: 940px;

    }
    #menu  li a {
        padding: 15px 29px;
    }
    .container{
    	width: 100%;
    }
    #intro img{
        width: 65%;
        margin: 0px auto;
    }
    #info h4{
        font-size: 16px;
    }
    #hotro .hotro_box{
        text-align: left;
    }
    .text-banner-home{
        font-size: 35px;
    }
    .position-text-banner-home{
        top: 60%;
        left: 150px;
    }

}

@media (min-width: 1200px)
{

	#header .container-header{
    	width: 1140px;
    }

    #menu li a {
        font-size: 14px;
        padding: 15px 30px;
    }
    #intro img{
        width: 70%;
    }
    #info h4{
        font-size: 18px;
    }
    #hotro .hotro_box{
        text-align: left;
    }
    .choose_slider_items .previous_item
    {
        width: initial !important;
        left: 61px !important;
    }
	
}

.wrap-content {
    padding: 0px;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.tab-content {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
}
.clearfix {
    clear: both;
}
.img {
    cursor: pointer;
    display: block;
    min-width: 100%;
    overflow: hidden;
    height: 264px;
}
.img_parent{
    cursor: pointer;
    display: block;
    min-width: 100%;
}
.img-main{
    height: 264px;
}
.product_item {
    position: relative;
    margin-top: 30px;
}
.product_item .img:hover{
    box-shadow: 3px 3px 3px #ccc;
}
.product_title{
    text-align: left;
    color: #2d3535;
    margin-top: 10px;
}
.search ul {
    list-style-type: none;
    padding: 1px;
}
.search ul li 
{
    display: inline-block;
    padding: 3px;
}
span.rollover {
    /*opacity: 1;*/
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:#ccc;
    cursor: pointer;
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
span.rollover:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #ccc;
    -moz-box-shadow: 0px 0px 4px #ccc;
    box-shadow: 0px 0px 4px #ccc;
}
.rollover img {
    width: 35px;
}
.rollover div {
    margin-top: 50% !important;
}
.rollover ul li{
    margin-bottom: 5px;
}
.rollover ul{
    padding-left: 20px;
}
.icon-honey{
    height: 100px;
    display: block;
    background: transparent url('../images/muasam/1-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-honey:hover, .material-feature.active .icon-honey{
    background: transparent url('../images/muasam/1.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.material-feature.active span {
    background-color: #fff;
    width: 100px !important;
    position: relative;
    top: 24px;
    font-size: 20px;
}
.active_tab
{
    background-color: #fff;
    width: 100px !important;
    position: relative;
    top: 24px;
    font-size: 26px;
}
.icon-aloe{
    height: 100px;
    display: block;
    background: transparent url('../images/muasam/2-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-aloe:hover, .material-feature.active .icon-aloe{
    background: transparent url('../images/muasam/2.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.icon-rose{
    height: 100px;
    display: block;
    background: transparent url('../images/muasam/3-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-rose:hover, .material-feature.active .icon-rose{
    background: transparent url('../images/muasam/3.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.icon-fruit{
    height: 100px;
    display: block;
    background: transparent url('../images/muasam/4-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-fruit:hover, .material-feature.active .icon-fruit{
    background: transparent url('../images/muasam/4.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.nav ul{
    list-style-type: none; 
}
.nav ul li{
    display: inline-block;
    padding: 0px 40px;
}
.nav ul li img{
    width: 75%;
}
.nav ul li span{
    padding-left: 15px;
}
.nav ul li label{
    padding-top: 10px;
    color: #2d3535;
}
/****** LOGIN MODAL ******/
#View-Frm-Customer{
    margin-top: 25px;
}
#View-Frm-Customer .labelFrmDkRule .DkRegister{
    color: #94c640;
    padding: 0px;
}
#View-Frm-Customer .labelFrmDkRule span{
    padding-left: 5px;
}
#View-Frm-Customer .labelFrmDkRule input{
    width: 25px;
    height: 19px;
}

#View-Frm-Customer button{
    min-width: 95px;
    margin-left: 15px;
}

.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.6em;
	color:#1fa8e0;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password] {
	font-size: 15px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
}

.loginmodal-submit {
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #93c543;
	font-size: 16px;
	width:100%;
}

.loginmodal-submit:hover {
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-help{
	font-size: 12px;
}

/*********** introduce ******/
.icon-about-us{
    height: 100px;
    display: block;
    background: transparent url('../images/introduce/ve-chung-toi-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-about-us:hover, .material-feature.active .icon-about-us{
    background: transparent url('../images/introduce/Ve-chung-toi-act.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.icon-doctor{
    height: 100px;
    display: block;
    background: transparent url('../images/introduce/doi-ngu-bac-si-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-doctor:hover, .material-feature.active .icon-doctor{
    background: transparent url('../images/introduce/doi-ngu-bac-si-act.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.icon-service{
    height: 100px;
    display: block;
    background: transparent url('../images/introduce/chat-luong-dich-vu-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-service:hover, .material-feature.active .icon-service{
    background: transparent url('../images/introduce/chat-luong-dich-vu-act.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.icon-facility{
    height: 100px;
    display: block;
    background: transparent url('../images/introduce/co-so-vat-chat-def.png') center top no-repeat;
    background-size: auto 85%;
}
.icon-facility:hover, .material-feature.active .icon-facility{
    background: transparent url('../images/introduce/co-so-vat-chat-act.png') center top no-repeat;
    background-size: auto 85%;
    cursor: pointer;
}
.nav-introduce ul{
    list-style-type: none; 
}
.nav-introduce ul li{
    display: inline-block;
    padding: 0 70px;
}
.nav-introduce ul li label{
    padding-top: 10px;
    color: #0875b8;
    font-weight: bold;
}
.list_doctor{
    margin-top: 140px;
}
.list_doctor .product_item{
    background-color: #f4f5f5;
    margin: 15px 10px;
    padding: 10px;
}
.list_doctor .product_item img{
    width: 100%;
}   
.list_doctor .name{
    font-weight: bold;
    font-size: 15px;
}
.list_doctor .technique,.list_doctor .time{
    font-size: 13px;
   /*  color: #919190; */
}
.list_doctor .description
{
    margin-top: 10px;
}
.description p {
    line-height: 16px;
}

/************ about us **********/
.about_us img{
    width: 100%;
    /*height: 264px;*/
}
.about_us .blur{
    -webkit-transition: -webkit-transform 1s;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    height: auto;
    min-width: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
   bottom: 0px;   
   left: 0px;
}
.about_us .blur:hover{
    opacity: 1;
    transform: translateY(-1px);
    -webkit-transform:translateY(-1px);
    -moz-transform:translateY(-1px);
    -ms-transform:translateY(-1px);
    -o-transform:translateY(-1px);
}
.about_us .title{
    color: #ffffff;font-size: 14px;padding-left: 5px;
}
.about_us .product_item{
    text-align: center;
}
.about_us .xem{
    width: 20px;text-align: center;
}

/*******************/

<style>
    #wrapper
    {

    }
    dt {
        /*background: url("../images/news/cong-def.png") no-repeat right 50%;*/
        background-size: 15px;
        border-top: 1px solid #ccc;
        background-position: 90%;
        cursor: pointer;
    }
    dt:hover{
        background:#c5c4c4; /*url("../images/news/cong-act.png") no-repeat right 50%*/ 
        background-size: 15px;
        background-position: 90%;
    }
    dt:hover a{
        color: #fff !important;
    }
/*    dt:hover a{
        color: #fff;
    }*/
/*    dt.active a{
        color:#c5c4c4; 
    }*/
    dt a{
        color: #2d2d2d !important;
        padding: 10px 70px 10px 25px;
        display: inline-block;
    }
    dt.active{
       /*background: url("../images/news/tru-def.png") no-repeat right 50%; */
       background-size: 15px;
       background-position: 90%;
    }
    dt.active:hover{
       background:#c5c4c4; /*url("../images/news/tru-act.png") no-repeat right 50%; */
       background-size: 15px;
       background-position: 90%;
    }
    dd ul{
        list-style-type: none; 
    }
    dd ul li{
        padding: 5px 5px;
    }
    dd ul li:hover{
        background-color: #c5c4c4;
    }
    dd ul li:hover a{
        color: #fff !important;
    }
    dd ul li a:hover
    {
        color: #fff !important;
    }
    dd ul li a{
        color: #797877 !important;
    }


    /** YOUTUBE **/
    .youtube-container { display: block; margin: 0px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%;  cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: -1px; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/** footer **/
.address_footer_1, .address_footer_2{
    font-size: 
}
.aboutus_footer{
        padding-left: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}
.mv_line {
    border-right: 2px dashed #ddd;
    border-left: 2px dashed #ddd;
    /*height: 50%;
    margin-top: 10px;
    text-align: center;*/
}
.banner_last{
    background: url('../images/dichvu/11.jpg') no-repeat left top;
}
</style>