td {
    text-align: center;
}
/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 30px;
	width: 300px;
}
	li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
        margin: 10px 0px;
	}
	li.file
	{
		margin-left: -1px !important;
	}
		li.file a
		{
			background: url(document.png) 0 0 no-repeat;
			color: #fff;
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
		li.file a[href *= '.pdf']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']		{ background: url(document.png) 0 0 no-repeat; }
	li input
	{
      position: absolute;
      left: 0px;
      margin-left: 0;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      height: 10px;
      width: 10px;
      top: 2px;
      margin: 0px;
      padding: 0px;
	}
		li input + ol
		{
			background: url(toggle-small-expand.png) 40px 0 no-repeat;
			margin: -14px 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
		background: url(folder-horizontal.png) 15px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
	}

	li input:checked + ol
	{
		background: url(toggle-small.png) 40px 5px no-repeat;
		margin: -1.45em 0 0 -44px; /* 20px */
		padding: 26px 0 0 85px;
		height: auto;
	}
	li input:checked + ol > li { display: block; margin: 0 0 5px;  /* 2px */}
	li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
.title_file { cursor: pointer;}    
.button_add{
    background: #60A917 none repeat scroll 0% 0%;
    color: #FFF;
    border-color:#60A917;
    text-align: center;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
    width: 50px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
}
.button_delete{
    background: #CE352C none repeat scroll 0% 0%;
    color: #FFF;
    border-color:#CE352C;
    text-align: center;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
    width: 50px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
}

/* ROW SEARCH  */
.row_search{
    min-height: 27px;
    line-height: 27px;
    padding: 1px;
    position: relative; 
    text-align: right;
}
.row_label {
    width: 75px;
    margin-right: 2px;
    text-align: right;
    display: inline-block;
}
.row_value{
    display: inline-block;
}
.row_value input {
    width: 120px;
}
.row_value select {
    width: 120px;
    padding: 1px;
}
#box_title_content{
    font-size: 21px;
    color: #06c;
}
.table_title{
    background-color: rgba(73, 92, 112,0.5);
    color: #fff;
    font-size: 12.5px;
    height: 30px;
    font-family: inherit;
    line-height: 30px;
}
.table_title_childern{
    background-color: rgba(73, 92, 112,0.5);
    color: #fff;
    font-size: 12px;
    height: 20px;
    font-family: inherit;
    line-height: 20px;
}
.id_row_vsc{
    background-color: #fff;
}
.id_row_vsc:hover{
    background-color:rgba(82, 139 ,139,0.3);
    color: #fff;
}
.button_vsc{
    width:110px  !important;
    cursor: pointer;
    font-size: 10pt !important;
}
.box_lable_title{
    display: block;
    float: left;
    height: 23px;
    margin-top: -21px;
    background: #FFF none repeat scroll 0% 0%;
    padding: 2px 5px;
    color: #000;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
}
.row_info_acount{
    min-height: 26px;
    line-height: 26px;
    padding: 1px;
    position: relative;
    text-align: left;
    clear: both;
}
.row_info_label{
    width: 75px;
    margin-right: 2px;
    text-align: left;
    display: inline-block;
}
.row_info_value input {
    width: 190px;
}

    