.yiiTab ul.tabs
{
    padding: 6px 0 !important;
    margin: 0;
    border-bottom: 1px solid #e6e6e6 !important;
}

.yiiTab ul.tabs a
{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    padding: 2px 0.5em;
    margin: 0px !important;
    border-bottom: none;
    background: #FFF !important;
    text-decoration: none;
    font-weight: normal;
    border: none !important;
}
.yiiTab ul.tabs  li a{
    padding: 7px 15px;    
}
.yiiTab ul.tabs  li a:hover{
   color: #00A9DD !important; 
}
 
.yiiTab ul.tabs a:link
{
	color: #333;
}

.yiiTab ul.tabs a:visited
{
	color: #5c2b95;
}

.yiiTab ul.tabs a:hover
{
    color: #5c2b95;
}
.yiiTab ul.tabs a.active{
  border: 1px solid #e6e6e6 !important;
  border-top: 3px solid #0983a5 !important;  
  border-bottom: 0px !important;
  padding-bottom: 8px !important;   
  background: #fff !important;
  border-bottom: 2px solid #fff !important; 
  color: #5c2b95 !important;
        
}

.yiiTab div.view
{
    border-left: 1px solid #DDD !important;
    border-right: 1px solid #DDD !important;
    border-bottom: 1px solid #DDD !important;
    margin: 0 !important;
    padding: 10px 15px 10px 15px !important;
}

